<p id="notice"><%= notice %></p>

<div class="container">
  <h1>書籍編集</h1>

  <%= render 'form', book: @book %>

  <%= link_to '詳細', @book, class: 'btn btn-info' %>
  <%= link_to '戻る', books_path, class: 'btn btn-secondary' %>
</div>